*{
  --black: #0D0D0F;
	--white: #FFFAFA;
	--grey: #616161;
	--green: #6CB652;
	--light-grey: #9A9A9A;
	--pastel-yellow: #FFBA52;
	--pastel-red: #EA8E8E;
	--text-grey: #858585;
	--text-light-grey: #ACACAC;
}